body {background-color: black;}

h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey;}

p {Color: white}

table {font-family: 'Times New Roman', Times, serif; border-collapse: collapse; width: 100%;}
td, th {border: 1px solid #dddddd; text-align: left; padding: 8px; color:white;}