h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey;}

h2 {color: black; font-size: 28px; text-align: center;}

body {background-image: url("scimg.jpeg"); background-attachment: fixed; background-position: center bottom;}

div.navbar {background-color: darkslateblue; font-size: 28px; text-align: center; margin: auto; width: 100%; opacity: 0.9;}
div.navbar a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.navbar a:hover {background-color: #444;}

div.navbarhome {background-color: darkslateblue; font-size: 14px; text-align: center; margin: auto; width: 100%; opacity: 0.9;}
div.navbarhome a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.navbarhome a:hover {background-color: #444;}

audio {display: none;}

div.paragraph {background-color: white; opacity: 0.97; width: 100%; text-align: center; margin: auto;}

div.albums {margin: 5px; border: 0%; float: inherit; width: 180px; display: block; margin-left: auto; margin-right: auto;}
div.albums img {width: 100%; height: auto;}
div.desc {padding: 15px; text-align: center;}