body {
    background-color: cornflowerblue;
}
h1 {
    color:white; 
    font-size: 60px; 
    text-align: center; 
    text-shadow:2px 2px lightgrey; 
}
h2 {
    color: white; 
    font-size: 18px;
}
div.assignments {background-color: lightgoldenrodyellow; font-size: 28px; text-align: center;}
div.assignments a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.assignments a:hover {background-color: darkgray;}

div.apage {background-color: lightgoldenrodyellow; text-align: center;}
div.apage a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.apage a:hover {background-color: darkgray;}

div.classmenu {background-color: lightgoldenrodyellow; text-align: center;}
div.classmenu a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.classmenu a:hover {background-color: darkgray;}
