body {
    background-color: lightcoral;
}
h1 {
    color:white; 
    font-size: 60px; 
    text-align: center; 
    text-shadow:2px 2px lightgrey; 
}
h2 {
    color: white; 
    font-size: 18px;
}
#button:link, #button:visited {
    background-color: lightcoral;
    color: black;
    border: 2px solid darkred;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
#button:hover, #button:active {
    background-color: darkred;
    color: white;
  }