body {background-color: cornflowerblue;}

h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey;}

h2 {color: white; font-size: 18px;}

img {border-radius: 8px; height: 150px; width: 100px;}

div.assignments {background-color: darkslateblue; font-size: 28px; text-align: center; margin: auto; width: 100%;}
div.assignments a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.assignments a:hover {background-color: #444;}

div.apage {background-color: darkslateblue; text-align: center;}
div.apage a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.apage a:hover {background-color: #444;}

div.classmenu {background-color: darkslateblue; text-align: center;}
div.classmenu a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none;}
div.classmenu a:hover {background-color: #444;}

div.homebox {border-style: dashed; border-color: darkslateblue; border-width: 2px; border-radius: 5px;}