body {background-color: lightcoral;}
head {background-color: darkred;}
h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey}
h2 {color: white; font-size: 18px;}
link {color: white;}