body {background-color: lightcoral;}
h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey; }
.assignments {font-size: 36px; text-align: center; display: block; background-color: rgba(240, 128, 128, 0.692);}
h2 {color: white; font-size: 18px;}
link {color: white;}
