body {background-color: lightcoral;}
h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey; }
h2 {color: white; font-size: 18px;}
link {color: white;}
.assignments:link {background-color: rgba(240, 128, 128, 0.692); text-align: center; display: inline-block; ;}