body {
    background-color: lightcoral;
}
h1 {
    color:white; 
    font-size: 60px; 
    text-align: center; 
    text-shadow:2px 2px lightgrey; 
}
h2 {
    color: white; 
    font-size: 18px;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: green;
    color: white;
  }