body {
    background-color: lightcoral;
}
h1 {
    color:white; 
    font-size: 60px; 
    text-align: center; 
    text-shadow:2px 2px lightgrey; 
}
h2 {
    color: white; 
    font-size: 18px;
}
div.assignments {background-color: #333; font-size: 28px; text-align: center;}
div.assignments a {display: inline-block; color: white; text-align: center; padding: 14px;}
div.assignments a:hover {background-color: #777;}

div.classmatesmenu {background-color: #333; text-align: center;}
div.classmatesmenu a {display: inline-block; color: white; text-align: center; padding: 14px;}
div.classmatesmenu a:hover {background-color: #777;}

div.classmenu {background-color: #333; text-align: center;}
div.classmenu a {display: inline-block; color: white; text-align: center; padding: 14px;}
div.classmenu a:hover {background-color: #777;}