body {background-color: lightcoral;}
h1 {color:white; font-size: 60px; text-align: center; text-shadow:2px 2px lightgrey; }
h2 {color: white; font-size: 18px;}
link {color: white;}
.assignments {font-size: 28px; text-align: center;}