body {
    background-color: lightcoral;
}
h1 {
    color:white; 
    font-size: 60px; 
    text-align: center; 
    text-shadow:2px 2px lightgrey; 
}
h2 {
    color: white; 
    font-size: 18px;
}
div.classmenu, div.classmatesmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
  
div.classmenu, div.classmatesmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
div.classmenu, div.classmatesmenu a:hover {
    background-color: #777;
}